<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sleeper.app.mining">

    <!-- Service for background mining -->
    <service
        android:name=".MiningService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="dataSync" />
</manifest>